doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sign In
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        
    body 
        p= errorMessage
        .container 
           .row.my-4 
                .col-md-6.offset-md-3
                    form(action="/api/signIn", method="post")
                        .mb-3.text-center 
                            p.fs-2 Sing In
                        .mb-3 
                            input.form-control(placeholder='User name' name='username' id='username' required)
                        .mb-3    
                            input.form-control(placeholder='Password' name='password' id='password' required)
                    
                        .d-grid.gap-2
                            <button class='btn btn-primary' type='submit'>Submit</button>
                            .my-4.text-center 
                            <a href="/pages/signUp">Sing Up</a>
